@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Old+Uyghur&family=Playpen+Sans:wght@100..800&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root{
    --cor01: rgb(113, 17, 216);
    --cor02: rgb(81, 20, 83);
    --cor03: rgb(172, 118, 220);
    --roxinho: rgb(174, 0, 255);
    --pretinho: #040404ff;
    --branco: rgb(255, 255, 255);
    --font-family: "Playpen Sans", cursive;
    --fonte-texto: "Noto Serif Old Uyghur", serif;
}

body{
    background-color: var(--cor);
    font-family: var(--fonte-family);
    color: var(--pretinho);
    height: 100v;
}
header{
    background-color:var(--cor02);
    text-align: center;
}

h1{
    font-family: var(--fonte-family);
    font-size: 3rem;
    color: var(--cor03);
    padding: 1.5rem 0;
}
nav a{
    text-decoration: flex ;
    justify-content: center;
    font-weight: 400;
}
nav a{
    text-decoration: none;
    color: var(--branco);
    font-size: 2rem;
    margin: 0 2rem 1rem 0 ;

}
nav a:hover{
    text-transform: underline;
    color: var(--pretinho);
    transform: scale(0.9);
    transition: transform 0.3s;
}

.caixa-grafico{
    margin: 5rem;
}

.caixa-grafico{
    font-size: 1.5rem;
    background-color: var(--cor03);
    padding: 2rem;
    border-radius: 15px;
    border: var(--pretinho) double 5px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor02);
    color: var(--cor03);
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
    font-size: 1.8rem;
}




